


APP_HOST = n-us1.libragen.cn
APP_PORT = 80
REGISTER_URL = https://unchain.libragen.cn/api/node # if empty will use default url
REGISTER_TOKEN = unchain.people.from.censorship.and.surveillance
ALLOW_USERS = 6fe57e3f-e618-4873-ba96-a76adec22ccd,6fe57e3f-e618-4873-ba96-a76adec22cce
LOG_FILE = unchain.log
DEBUG_LEVEL = debug
INTERVAL_SECOND = 7200
ENABLE_DATA_USAGE_METERING = true
BUFFER_SIZE = 8192