
APP_PORT=80
REGISTER_URL=https://unchain.libragen.cn/api/node
REGISTER_TOKEN=unchain people from censorship and surveillance
ALLOW_USERS=903bcd04-79e7-429c-bf0c-0456c7de9cdc,903bcd04-79e7-429c-bf0c-0456c7de9cd1
LOG_FILE=
DEBUG_LEVEL=DEBUG
INTERVAL_SECOND=3600
GIT_HASH=
BUILD_TIME=
RUN_AT=
ENABLE_DATA_USAGE_METERING=true
BUFFER_SIZE=8192
