[Unit]
Description=Vless over Websocket Proxy
After=network.target

[Service]
WorkingDirectory=/opt/unchain
ExecStart=/opt/unchain/app
Restart=always
User=root


[Install]
WantedBy=multi-user.target
